@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

@font-face {
    font-family: 'BaiJam Bold';
    src: url('../fonts/BaiJamjuree-Bold.ttf');
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

*{
    font-family: 'Catamaran', sans-serif;
}

:root{
    --cordef: #3A5461;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

body{
    background-image: linear-gradient(to right, lightgray, white);
}

header{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

header .htext{
    width: 25%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

header h1{
    font-family: 'BaiJam Bold', 'Catamaran', Arial, Helvetica, sans-serif;
    color: var(--cordef);
    font-size: 2.5em;
}

header a{
    text-decoration: none;
}

header .fatecanchor{
    width: 120px;
}

header .fateclogo{
    width: 120px;
    height: 65px;
    margin: 0;
}

header .logocps{
    height: 190px;
    width: 200px;
    margin-right: 15px;
}

main .login{
    max-width: 400px;
    min-width: 260px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 3px 6px gray;
}

main .login h3{
    background-color: white;
}

main .input{
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid gray;
}

main .entrar{
    cursor: pointer;
    font-size: 18px;
    border: 0;
    margin: 5%;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--cordef);
    color: white;
}

main .entrar:hover{
    color: black;
    border: 1px solid black;
}

main .entrar:active{
    color: #fff;
}

aside{
    max-width: 360px;
    min-width: 260px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    border-radius: 10px;
}

aside > button{
    background-color: var(--cordef);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
}

aside > button:hover{
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

aside > button:active{
    color: white;
}

aside > p{
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
}

footer p{
    margin-top: 5%;
    margin-bottom: 0;
    background-color: lightgray;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--cordef);
    font-weight: bold;
}

footer a:hover{
    color: black;
}

footer a:active{
    color: var(--cordef);
}

footer a::after{
    content: '\1F517';
}